fastapi
uvicorn[standard]
langchain-core
langchain-openai
langchain-community
langchain-chroma
langchain-huggingface
langchain-text-splitters
sentence-transformers
chromadb
pypdf
pandas
openpyxl
python-dotenv
pyyaml
ragas
datasets
streamlit